<p id="notice"><%= notice %></p>

<h1>Livros</h1>

<ul>
  <li><%= link_to "Cadastro de novo usuário", new_user_registration_path %></li>
  <li><%= link_to "Logar", new_user_session_path %></li>
  <li><%= link_to "Sair", destroy_user_session_path, method: :delete %></li>
  
</ul>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Autor</th>
      <th>Genero</th>
      <th>Editora</th>
      <th>Dono</th>
      <th>Telefone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @livros.each do |livro| %>
      <tr>
        <td><%= livro.titulo %></td>
        <td><%= livro.autor %></td>
        <td><%= livro.genero %></td>
        <td><%= livro.editora %></td>
        <td><%= livro.dono %></td>
        <td><%= livro.telefone %></td>
        <td><%= link_to 'Show', livro %></td>
        <td><%= link_to 'Edit', edit_livro_path(livro) %></td>
        <td><%= link_to 'Destroy', livro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Livro', new_livro_path %>
